.footer-grid{
    padding: 0rem 4rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns:  3fr 1fr 1fr 3fr;
    gap:1.2rem;
    margin: 0rem 4rem;
}
.footer__logo-section img{
    width: 40%;
    margin-bottom: 1rem;
}
.footer__logo-section p{
    font-size: 1.2rem;
    color: var(--text-color);
}
.footer__logo-section .social-links{
    display: flex;
    align-items: center;
    gap:2rem;
    margin-top: 1rem;
}
.footer__logo-section .social-links span a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.7rem;
}
.footer__link-title{
    margin-top: 3rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.footer__quick-links li{
    list-style: none;
}
.footer__quick-links li a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.3rem;
    line-height: 2.3rem;
}
.footer__contact-section .contact-detail{
    display: flex;
    align-items: center;
    gap:1rem;
}
.footer__contact-section .footer__quick-links h6 i{
    color: var(--text-color);
    font-size: 1.6rem;
    margin-right: 0.4rem;
}
.footer__contact-section .footer__quick-links h6{
    color: var(--secondary-color);
    font-size: 1.3rem;
    line-height: 2.3rem;
}
.footer__contact-section .footer__quick-links p{
  font-size: 1.3rem;
  color: var(--text-color);
  text-transform: none;
}
.footer__copyright{
    padding-right: 2rem;
}
.footer__copyright p{
    color: var(--text-color);
    font-size: 1.1rem;
    padding-bottom: 2rem;
    text-align: center;
}
@media only screen and (max-width:992px){
    .footer-grid{
        display: block;
    }
}